{% extends 'base.html' %}

{% block content %}
<div class="about-section">
    <div class="container">
        <h1 class="text-center">O nas</h1>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://i.imgur.com/bheUL0c.png" alt="O nas Markot" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2>Historia Markot</h2>
                <p>Markot, założony w 2015 roku w sercu Warszawy, rozpoczął swoją przygodę jako mały butik odzieżowy. Pasja do mody i unikalnego designu była motorem napędowym dla założycieli, którzy pragnęli tworzyć odzież odzwierciedlającą indywidualność i styl. Przez lata firma rozwinęła się w znaczącą markę, znającą potrzeby i oczekiwania swoich klientów.</p>
                <h2>Nasza Misja</h2>
                <p>Nasza misja zawsze była jasna – dostarczać odzież, która nie tylko wygląda dobrze, ale również czyni świat lepszym miejscem. Dzięki zastosowaniu ekologicznych materiałów i wspieraniu lokalnych producentów, Markot stał się symbolem odpowiedzialnej mody. Każda kolekcja jest starannie projektowana, aby zapewnić unikalność i najwyższą jakość.</p>
                <h2>Dlaczego Markot?</h2>
                <p>Dzisiaj, Markot jest więcej niż marką odzieżową. To społeczność ludzi świadomych i kochających modę. Wspieramy młodych projektantów i organizujemy warsztaty zrównoważonego rozwoju, dążąc do tego, aby moda była świadomym wyborem dla każdego. Nasza przyszłość jest pełna ekscytujących planów. Kontynuujemy naszą podróż, dążąc do tego, aby Markot był nie tylko synonimem stylu, ale także odpowiedzialności i innowacji w świecie mody.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
