{% extends 'base.html' %}

{% block content %}
  <h1>Blog</h1>
  <div class="blog-posts">
    {% for post in posts %}
      <div class="blog-post">
        <h2>{{ post.title }}</h2>
        <p>Opublikowano: {{ post.published }}</p>
        <div class="content">
          {{ post.summary | linebreaksbr }}
        </div>
        <a href="{{ post.link }}" target="_blank">Czytaj więcej</a>
      </div>
    {% empty %}
      <p>Brak postów do wyświetlenia.</p>
    {% endfor %}
  </div>
{% endblock %}
