{% extends "base.html" %}

{% block content %}
    <h1>Twój koszyk</h1>
    {% if cart %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th>Rozmiar</th>
                    <th>Łącznie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart %}
                    <tr>
                        <td><img src="{{ product.image_url }}" alt="{{ product.name }}" width="80"></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.total_price }}</td>
                        <td><a href="{% url 'remove_from_cart' product.id product.size %}" class="btn btn-danger btn-sm">Usuń</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="text-right"><strong>Suma:</strong></td>
                    <td colspan="2">{{ cart_total }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <a href="{% url 'payment' %}" class="btn btn-primary">Zapłać</a>
                    </tr>
            </tbody>
        </table>
    {% else %}
        <p>Twój koszyk jest pusty.</p>
    {% endif %}
{% endblock content %}