{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-5">Najczęściej Zadawane Pytania (FAQ)</h1>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">1. Jak mogę złożyć zamówienie?</h2>
        <p>Aby złożyć zamówienie, wystarczy dodać wybrane produkty do koszyka, przejść do kasy i podać niezbędne dane do wysyłki oraz płatności. Po potwierdzeniu zamówienia otrzymasz e-mail z potwierdzeniem.</p>
    </div>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">2. Jakie metody płatności są akceptowane?</h2>
        <p>Akceptujemy płatności kartą kredytową/debetową (Visa, Mastercard, American Express) oraz płatności poprzez system PayPal.</p>
    </div>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">3. Czy oferujecie międzynarodową wysyłkę?</h2>
        <p>Tak, wysyłamy nasze produkty międzynarodowo. Koszty i czas dostawy mogą się różnić w zależności od kraju docelowego.</p>
    </div>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">4. Czy mogę zwrócić lub wymienić produkt?</h2>
        <p>Tak, oferujemy możliwość zwrotu lub wymiany produktów w ciągu określonego czasu od daty zakupu. Prosimy o zapoznanie się z naszymi Warunkami Zwrotów i Wymiany dla szczegółowych informacji.</p>
    </div>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">5. Czy oferujecie rabaty dla stałych klientów?</h2>
        <p>Tak, oferujemy program lojalnościowy dla naszych stałych klientów, który obejmuje rabaty, promocje specjalne oraz nagrody za zakupy.</p>
    </div>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">6. Jak mogę skontaktować się z działem obsługi klienta?</h2>
        <p>Możesz skontaktować się z naszym działem obsługi klienta poprzez formularz kontaktowy na naszej stronie internetowej, wysłanie e-maila na adres [adres e-mailowy] lub dzwoniąc pod numer [numer telefonu]. Nasz zespół chętnie pomoże w rozwiązaniu wszelkich pytań lub problemów.</p>
    </div>

    <div class="faq-item border p-4 bg-light rounded shadow-sm mb-4">
        <h2 class="fw-bold">7. Czy oferujecie możliwość śledzenia przesyłki?</h2>
        <p>Tak, po złożeniu zamówienia otrzymasz e-mail z potwierdzeniem wysłania przesyłki oraz informacje o numerze śledzenia, dzięki czemu możesz monitorować status dostawy.</p>
    </div>
</div>
{% endblock %}
