{% load static %}
{% include 'search_form.html' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="text-center">
                <h1 class="header-title">
                    <span>Markot.</span>
                </h1>
                <p class="lead">Gdzie Styl Spotyka Wyjątkowość</p>
            </div>
        </div>
    </header>
    <!-- Rest of your HTML -->
</body>
</html>