{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Karuzela produktów -->

<!-- Sekcja "O Sklepie" -->
<div class="about-section py-5">
    <div class="container">
        <h2 class="text-center">O Sklepie Markot</h2>
        <p class="text-center">
            Markot to miejsce, gdzie pasja do mody spotyka się z wyjątkowym stylem. Odkryj nasze kolekcje, które łączą w sobie klasyczne kroje z nowoczesnymi trendami. Z nami każdy dzień stanie się okazją, by poczuć się wyjątkowo.
        </p>
    </div>
</div>
{% endblock %}