{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-5">Polityka Prywatności</h1>
    <div class="terms-content border p-4 bg-light rounded shadow-sm">
        <p>W Markot dbamy o prywatność naszych klientów i zobowiązujemy się do ochrony danych osobowych. Niniejsza Polityka Prywatności wyjaśnia, jakie informacje gromadzimy, jak ich używamy oraz jak je chronimy.</p>

        <h2 class="fw-bold mt-4">1. Rodzaje Gromadzonych Danych</h2>
        <p>Podczas korzystania z naszej strony internetowej oraz dokonywania zakupów możemy gromadzić różne rodzaje danych, w tym:</p>
        <ul>
            <li>Dane osobowe: takie jak imię, nazwisko, adres e-mail, adres dostawy, numer telefonu itp.</li>
            <li>Informacje dotyczące transakcji: takie jak historia zakupów, preferencje zakupowe, informacje o płatnościach itp.</li>
            <li>Dane demograficzne: takie jak wiek, płeć, preferencje dotyczące mody itp.</li>
            <li>Dane techniczne: takie jak adres IP, dane logowania, informacje o przeglądarce internetowej itp.</li>
        </ul>

        <h2 class="fw-bold mt-4">2. Sposób Używania Danych</h2>
        <p>Gromadzone przez nas dane są wykorzystywane w celu zapewnienia najlepszej jakości usług oraz lepszego dostosowania oferty do potrzeb naszych klientów. Wykorzystujemy dane w następujący sposób:</p>
        <ul>
            <li>Do przetwarzania i realizacji zamówień.</li>
            <li>Do obsługi klienta i udzielania wsparcia technicznego.</li>
            <li>Do personalizacji doświadczenia zakupowego oraz dostarczania spersonalizowanych ofert.</li>
            <li>Do prowadzenia analiz rynkowych i statystycznych w celu doskonalenia naszych usług i oferty.</li>
        </ul>

        <h2 class="fw-bold mt-4">3. Ochrona Danych</h2>
        <p>Zobowiązujemy się do zachowania poufności oraz bezpieczeństwa danych naszych klientów. Stosujemy odpowiednie środki techniczne i organizacyjne, aby chronić dane przed nieuprawnionym dostępem, utratą, zmianą czy ujawnieniem.</p>

        <h2 class="fw-bold mt-4">4. Udostępnianie Danych</h2>
        <p>W żadnym przypadku nie sprzedajemy ani nie udostępniamy danych osobowych naszych klientów osobom trzecim bez ich zgody, chyba że jest to niezbędne do realizacji usług świadczonych przez naszą firmę (np. dostawcy usług płatniczych, dostawcy usług dostawy itp.).</p>

        <h2 class="fw-bold mt-4">5. Prawa Użytkowników</h2>
        <p>Nasi użytkownicy mają prawo dostępu do swoich danych osobowych, ich poprawiania, usuwania oraz ograniczania przetwarzania. Mają również prawo do sprzeciwu wobec przetwarzania danych w określonych sytuacjach. W celu skorzystania z tych praw prosimy o kontakt z nami za pośrednictwem podanych na stronie danych kontaktowych.</p>

        <h2 class="fw-bold mt-4">6. Zmiany w Polityce Prywatności</h2>
        <p>Zastrzegamy sobie prawo do zmiany niniejszej Polityki Prywatności w dowolnym czasie. W przypadku wprowadzenia istotnych zmian w sposobie przetwarzania danych lub celach ich przetwarzania, poinformujemy naszych użytkowników o tych zmianach.</p>
        
        <p class="mt-5">Dziękujemy za korzystanie z Markot!</p>
    </div>
</div>
{% endblock %}
