<!-- product_list.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Nasze Produkty</h1>
    <div class="row justify-content-center">
        {% for product in products %}
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'product-detail' product.pk %}">
                        {% if product.image_url %}
                            <img class="card-img-top mt-3" src="{{ product.image_url }}" alt="{{ product.name }} Image">
                        {% else %}
                            <div class="card-body">
                                <p class="card-text">Brak obrazka.</p>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ product.name }}
                            </h4>
                            <h5>{{ product.price|floatformat:2 }} PLN</h5>
                        </div>
                    </a>
                    <div class="card-footer">
                        <form method="post" action="{% url 'add_to_cart' product.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="redirect" value="product-list">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}