{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-5">Warunki korzystania</h1>
    <div class="terms-content border p-4 bg-light rounded shadow-sm">
        <p>Witaj w Markot! Dziękujemy za korzystanie z naszej platformy. Zanim będziesz kontynuować zakupy, prosimy o zapoznanie się z poniższymi warunkami korzystania. Korzystając z naszej strony internetowej oraz dokonując zakupów, zgadzasz się przestrzegać niniejszych zasad.</p>

        <h2 class="fw-bold mt-4">1. Akceptacja Warunków Korzystania</h2>
        <p>Korzystając z naszej strony internetowej, akceptujesz niniejsze Warunki Korzystania w całości. Jeśli nie zgadzasz się z którąkolwiek częścią tych warunków, prosimy o zaprzestanie korzystania z naszej platformy.</p>

        <h2 class="fw-bold mt-4">2. Zawartość Strony</h2>
        <p>Zawartość naszej strony internetowej jest przeznaczona wyłącznie do celów informacyjnych. Dokładamy wszelkich starań, aby prezentowane informacje były aktualne i precyzyjne, jednakże nie możemy zagwarantować ich całkowitej dokładności. Nie ponosimy odpowiedzialności za ewentualne błędy lub braki w zawartości.</p>

        <h2 class="fw-bold mt-4">3. Rejestracja Konta</h2>
        <p>Aby dokonywać zakupów na naszej stronie, możesz być zobowiązany/a do utworzenia konta. W takim przypadku będziesz odpowiedzialny/a za zachowanie poufności swojego hasła i za wszelkie działania podjęte z użyciem Twojego konta.</p>


        <h2 class="fw-bold mt-4">4. Ograniczenia</h2>
        <p>Korzystając z naszej platformy, zgadzasz się nie naruszać praw innych osób ani nie stosować się do działań, które mogą zakłócać lub naruszyć naszą stronę. W szczególności zakazane jest stosowanie się do działań nielegalnych, obraźliwych, szkodliwych lub naruszających prywatność innych użytkowników.</p>
    
        <h2 class="fw-bold mt-4">5. Zakupy i Płatności</h2>
        <p>Dokonując zakupów na naszej stronie internetowej, zgadzasz się na zobowiązania płatnicze oraz na dostarczenie dokładnych danych płatnościowych. Prosimy o zapoznanie się z naszymi zasadami dotyczącymi płatności oraz zwrotów przed dokonaniem zakupu.</p>
    
        <h2 class="fw-bold mt-4">6. Ochrona Danych Osobowych</h2>
        <p>Dbamy o prywatność naszych klientów. Prosimy o zapoznanie się z naszą Polityką Prywatności, aby dowiedzieć się więcej na temat tego, jak gromadzimy, używamy i chronimy Twoje dane osobowe.</p>
    
        <h2 class="fw-bold mt-4">7. Zmiany Warunków Korzystania</h2>
        <p>Zastrzegamy sobie prawo do zmiany niniejszych Warunków Korzystania w dowolnym czasie. Zmiany te będą publikowane na naszej stronie internetowej, a korzystając dalej z naszej platformy po wprowadzeniu zmian, akceptujesz zmienione Warunki Korzystania.</p>
    
        <p>Jeśli masz jakiekolwiek pytania dotyczące naszych Warunków Korzystania, prosimy o kontakt z naszym działem obsługi klienta. Dziękujemy za korzystanie z Markot!</p>
</div>
{% endblock %}
